.absolute-vert-center {
    top: 50%;
    transform: translateY(-50%);
}

@media screen and (max-height: 480px), screen and(max-width: 900px)
{   
    .infos-mobile-landscape{
        margin-left: 0 !important;
    }
    .button-mobile-landscape{
        justify-content: center !important;
    }

    .illustration-mobile-landscape{
        display: none !important;
    }
}


::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background: #edf2f7;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #4a5568;
}
::-webkit-scrollbar-thumb:active {
  background: #4a5568;
}
::-webkit-scrollbar-track {
  background: #ffffff;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #fcfcfc;
}
::-webkit-scrollbar-track:active {
  background: #edf2f7;
}
::-webkit-scrollbar-corner {
  background: transparent;
}


.block-imp {
    display: block !important;
}

.open {
    height: auto;
}
  
.close {
    height: 0;
    overflow: hidden;
}

@screen sm {
    .md-w-600 {
        width: 600px !important;
        left: 50% !important;
        transform: translateX(-50%);
    }
}
